
<!--<p-panel header="Header">
    <p>
        Lorem ipsum dolor sit amet...
    </p>
</p-panel>

<p-stepper>
    <p-stepperPanel header="Header I">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                    Content I
                </div>
            </div>
            <div class="flex pt-4 justify-content-end">
                <p-button 
                    label="Next" 
                    icon="pi pi-arrow-right" 
                    iconPos="right" 
                    (onClick)="nextCallback.emit()" />
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Header II">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                    Content II
                </div>
            </div>
            <div class="flex pt-4 justify-content-between">
                <p-button 
                    label="Back" 
                    icon="pi pi-arrow-left" 
                    (onClick)="prevCallback.emit()" />
                <p-button 
                    label="Next" 
                    icon="pi pi-arrow-right" 
                    iconPos="right" 
                    (onClick)="nextCallback.emit()" />
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Header III">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                    Content III
                </div>
            </div>
            <div class="flex pt-4 justify-content-start">
                <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
            </div>
        </ng-template>
    </p-stepperPanel>
</p-stepper>-->

  <br/><br/>
  <div class="left-side">
    <img src="../../xmasf.png" viewBox="0 0 700 200" fill="none" alt="Image de noel" class="angular-logo"/>
  </div>
  <br/>
  <div>
    <br/>
    <p-messages [(value)]="messages" [closable]="false" />
      <br/>
  </div>
<p-table 
    [value]="users" 
    styleClass="p-datatable-gridlines" 
    [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>E-mail</th>
                <th>Souhaits</th>
                <th>Secret santa</th>
                <th>Suppr.</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.souhaits }}</td>
                <td>{{ user.secrets }}</td>
                <td>
                    <p-button label="" class="p-button-danger" severity="danger" icon="pi pi-trash" [loading]="loadingDelete" (onClick)="deleteUser(user)"></p-button>
                </td>
            </tr>
        </ng-template>
</p-table>

<br/><br/>
<div class="text-center">
    <a href="/" target="_blank" rel="noopener noreferrer" class="p-button font-bold">Aller à la page d'enregistrement</a>
    <br/><br/>
    <p-button label="Lancer le tirage" [disabled]="isSendResultActive" [raised]="true" severity="info" (onClick)="lancerTirage()"></p-button>
    <br/><br/>
    <p-button *ngIf="isSendResultActive" label="Envoyer les resultats" [raised]="true" severity="success" [loading]="loadingSendResults" (onClick)="SendResult()"></p-button>

</div>

<br/><br/><br/><br/>